<mat-nav-list>
    <div class="logo py-4">
        <h3>Blingg Jewellery</h3>
    </div>

    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/orders">
        <mat-icon>home</mat-icon> Orders
    </a>
    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/products">
        <mat-icon>home</mat-icon> Products
    </a>
    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/categories">
        <mat-icon>home</mat-icon> Categories
    </a>
    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/pages">
        <mat-icon>home</mat-icon> Pages
    </a>
    <a mat-list-item class="list-content" routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>home</mat-icon> Settings
    </a>

</mat-nav-list>