<div class="px-4 pt-3">
    <app-custom-header [previousPage]="previousPage" [title]="title"></app-custom-header>

    <div class="rounded-3 bg-white d-flex align-items-center justify-content-center image-compress-box mt-4">
        <mat-icon class="material-image-compress-icon" (click)="compressImage()">photo_camera</mat-icon>
    </div>

    <div class="container-fluid mt-2">
        <form [formGroup]="productCreateForm">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group mt-3">
                        <label>Product Name</label>
                        <input type="text" formControlName="productName"
                            class="form-control shadow-none product_details_input_field border mt-1 product-details-input-box mt-1"
                            placeholder="Enter product name" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group mt-3">
                        <label>Product Category</label>
                        <input type="text" formControlName="productCategory"
                            class="form-control shadow-none product_details_input_field border mt-1 product-details-input-box mt-1"
                            placeholder="Enter product category" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group mt-3">
                        <label>Product Price</label>
                        <input type="text" formControlName="productPrice"
                            class="form-control shadow-none product_details_input_field border mt-1 product-details-input-box mt-1"
                            placeholder="Enter product price" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group mt-3">
                        <label>Product Discount Price</label>
                        <input type="text" formControlName="productDiscountPrice"
                            class="form-control shadow-none product_details_input_field border mt-1 product-details-input-box mt-1"
                            placeholder="Enter product discount price" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mt-3">
                        <label>Product Discription</label>
                        <textarea rows="4" formControlName="productDescription"
                            class="form-control shadow-none product_details_input_field border mt-1 product-details-input-box mt-1"
                            placeholder="Enter product discription"></textarea>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-default shadow-none border-0 mt-4 mb-2" (click)="onCreateProduct()">Save</button>
            </div>
        </form>
    </div>
</div>